@model IEnumerable<PubProject.Models.ViewModels.Pages.PageVM>

@{ 
    string tempPageTitle = (string)TempData["PageTitle"];
}

@foreach (var item in Model)
{
    if (tempPageTitle == item.Title)
    {
        <li class="active"><a href="/@item.Slug">@item.Slug</a></li>
    }
    else
    {
        <li><a href="/@item.Slug" style="color:black; font-style:italic">@item.Title</a></li>
    }
}
