@model PubProject.Models.ViewModels.Account.UserNavPartialVM


<li><a href="/account/user-profile" style="color:white">User Name: @Model.FirstName @Model.LastName</a></li>
<li><a href="/account/Orders" style="color:white;text-shadow:1px 1px 1px black;font-style:italic">View Orders</a></li>
