@model IEnumerable<PubProject.Models.ViewModels.Shop.CategoryVM>

<html></html>
<h3 style="color:whitesmoke;text-shadow: 3px 3px 3px gold ; font-weight:bold">Categories</h3>

<!-- Show Categories list -->


<ul>
    @foreach (var item in Model)
    {
        <li><a href="/shop/category/@item.Slug.ToLower()" style="color:whitesmoke;text-shadow: 3px 3px 3px gold ; font-weight:bold">@item.Name</a></li>
    }
</ul>

